
body, html {
	background: #FFF;
}
header {
	width: 100%;
	height: 1.173333rem;
	line-height: 1.173333rem;
	background: #FFF;
}
.rank_content{
	position: relative;
	width: 100%;
	height: 1.173333rem;
	line-height: 1.173333rem;
	font-size: 0.453333rem;
	text-align: center;
	border-bottom: 1px solid #EEE;
}
.rank_back{
	position: absolute;
	left: 0.426667rem;
	top: 0.186667rem;
	width: 0.640000rem;
	height: 0.640000rem;
}
.right{
	position: absolute;
	right: 0.426667rem;
	top: 0.186667rem;
	width: 0.640000rem;
	height: 0.640000rem;
}