<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
		<meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
		<title>友圈排行榜</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" type="text/css" href="../../css/meui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/circle_friends_frame.css" />
		<script type="text/javascript" src="../../script/flexible.js"></script>
		<style>
			.communityList .showCircle {
				width: 2px;
				height: 2px;
				border-radius: 2px;
			}
			[v-cloak] {
				display: none;
			}
      .ellipsis-1{
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          word-break: break-all;
          white-space: normal !important;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
      }
			.communityList .self .Perimage .perimage_rel{
				position: relative;
			}
			img.red_vip,img.yellow_vip,img.purple_vip{
				position: absolute;
				left: initial !important;
				right: 1px;
				top: 42px !important;
				width: 14px !important;
				height: 14px !important;
				transform: none !important;
			}

		</style>
	</head>
	<body>
		<div id="wrap" v-cloak>
			<!-- 活跃排行榜 -->
			<div class="kings_circle communityHonor">
				<div class="subtotal flex-center">
					<img src="../../image/rank/trophy.png" alt="" tapmode><span>牛人榜</span><span class="circle"></span><span><span onclick="fnChangeMonth('1','current',this)" class="_selfmonth _selfActivity active">本月</span><span onclick="fnChangeMonth('1','pre',this)" class="lastMonth lastActivity">上月</span></span>
				</div>
				<div class="communityList">
					<div class="self community-flex flex-center community-flex-h">
						<div class="num">
							{{personRankMonth1.rank}}
						</div>
						<div class="Perimage" tapmode v-on:click="fnOpenHome(personRankMonth1)">
							<div class="Perimage-1">
								<img v-bind:src="personRankMonth1.userImg" alt="">
								<img v-show="personRankMonth1.talentFlag == 1" class="red_vip" src="../../image/mine/red_vip.png" alt=""/>
								<img v-show="personRankMonth1.talentFlag == 2" class="yellow_vip" src="../../image/mine/yellow_vip.png" alt=""/>
								<img v-show="personRankMonth1.talentFlag == 3" class="purple_vip" src="../../image/mine/purple_vip.png" alt=""/>
							</div>
						</div>
						<div class="details community-flex-flex1">
							<div class="">
								{{personRankMonth1.userName}}
							</div>
							<div class="level">
								指数：{{personRankMonth1.rankIndexValue}}
								<span class="level-alert">友圈人数{{personRankMonth1.friendsCount}}人</span>
							</div>
							<div class="topic community-flex flex-center">
								<div class="_items">
									<div class="topic_num">
										{{personRankMonth1.storyCount}}
									</div>
									<div>
										话题
									</div>
								</div>
								<span class="showCircle"></span>
								<div class="_items">
									<div class="topic_num">
										{{personRankMonth1.commentCount}}
									</div>
									<div>
										评论
									</div>
								</div>
								<span class="showCircle"></span>
								<div class="_items">
									<div class="topic_num">
										{{personRankMonth1.shareCount}}
									</div>
									<div>
										分享
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="king_ranking">
					<div class="circle_ranking">
						<div v-for="(item,index) in list_1" class="circle_people" tapmode v-on:click="fnOpenHome(item)">
							<div class="circle_img">
								<img class="fore_pic" v-bind:src="item.userImg">
								<div v-if="item.rank == 1" class="back_pic king_one"></div>
								<div v-if="item.rank == 2" class="back_pic king_two"></div>
								<div v-if="item.rank == 3" class="back_pic king_three"></div>
							</div>
							<p class="circle_name ellipsis-1">
								{{item.userName}}
							</p>
							<p class="circle_num">
								{{item.rankIndexValue}}
							</p>
						</div>
					</div>
					<div class="item More community-flex flex-center community-flex-h" tapmode @click="fnOPenMore('1')">
						<img src="../../image/rank/more.png" alt="">更多...
					</div>
				</div>
			</div>
			<!-- 被捧排行榜 -->
			<div class="kings_circle communityHonor">
				<div class="subtotal flex-center">
					<img src="../../image/rank/trophy.png" alt=""><span>红人榜</span><span class="circle"></span><span><span onclick="fnChangeMonth('2','current',this)" class="_selfmonth _self active">本月</span><span onclick="fnChangeMonth('2','pre',this)" class="lastMonth last">上月</span></span>
				</div>
				<div class="communityList">
					<div class="self community-flex flex-center community-flex-h self_blue">
						<div class="num">
							{{personRankMonth2.rank}}
						</div>
						<div class="Perimage" tapmode v-on:click="fnOpenHome(personRankMonth2)">
							<div class="Perimage-1">
								<img v-bind:src="personRankMonth2.userImg" alt="">
								<img v-show="personRankMonth1.talentFlag == 1" class="red_vip" src="../../image/mine/red_vip.png" alt=""/>
								<img v-show="personRankMonth1.talentFlag == 2" class="yellow_vip" src="../../image/mine/yellow_vip.png" alt=""/>
								<img v-show="personRankMonth1.talentFlag == 3" class="purple_vip" src="../../image/mine/purple_vip.png" alt=""/>
							</div>
						</div>
						<div class="details community-flex-flex1 ">
							<div class="">
								{{personRankMonth2.userName}}
							</div>
							<div class="level">
								指数：{{personRankMonth2.rankIndexValue}}
								<span class="level-alert">友圈人数{{personRankMonth2.friendsCount}}人</span>
							</div>
							<div class="topic community-flex flex-center">
								<div class="_items">
									<div class="topic_num">
										{{personRankMonth2.focusCount}}
									</div>
									<div>
										粉丝
									</div>
								</div>
								<span class="showCircle"></span>
								<div class="_items">
									<div class="topic_num">
										{{personRankMonth2.commentCount}}
									</div>
									<div>
										获评
									</div>
								</div>
								<span class="showCircle"></span>
								<div class="_items">
									<div class="topic_num">
										{{personRankMonth2.praisedCount}}
									</div>
									<div>
										获赞
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="king_ranking">
					<div class="circle_ranking">
						<div v-for="(item,index) in list_2" class="circle_people" tapmode v-on:click="fnOpenHome(item)">
							<div class="circle_img">
								<img class="fore_pic" v-bind:src="item.userImg">
								<div v-if="item.rank == 1" class="back_pic king_one"></div>
								<div v-if="item.rank == 2" class="back_pic king_two"></div>
								<div v-if="item.rank == 3" class="back_pic king_three"></div>
							</div>
							<p class="circle_name ellipsis-1">
								{{item.userName}}
							</p>
							<p class="circle_num">
								{{item.rankIndexValue}}
							</p>
						</div>
					</div>
					<div class="item More community-flex flex-center community-flex-h margin-bottom-15" tapmode @click="fnOPenMore('2')">
						<img src="../../image/rank/more.png" alt="">更多...
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/mapi.js"></script>
	<script type="text/javascript" src="../../script/vue.js"></script>
	<script type="text/javascript" src="../../script/service.js"></script>
	<script type="text/javascript">
		var myVue = null;
		apiready = function() {
			//fnRefreshOpen();
			fnInitVue();
			fnRankPersonalCurrentMoth();
			fnRankPersonalCurrentMoth2();
			fnRankCommunityCMonth();
			fnRankCommunityCMonth2();
		};
		function fnInitVue() {
			myVue = new Vue({
				el : "#wrap",
				data : {
					activity : {//活跃排行榜
						type : true,
					},
					exalted : {//被捧排行榜
						type : true
					},
					list_1 : [],
					list_2 : [],
					personRankMonth1 : {
					},
					personRankMonth2 : {
					}
				},
				methods : {
					fnOPenMore : function(type) {
						var data = {
							title : type == 1 ? '牛人榜' : '红人榜',
							month : type == 1 ? this.activity.type : this.exalted.type,
							myRank : type == 1 ? myVue.personRankMonth1 :  myVue.personRankMonth2
						};
						fnOpenWin('more_friendshonor_win', './', data)
					},
					fnOpenHome : function(item){
                        api.readFile({
                            path: api.boxDir + '/userid.txt'
                        }, function (ret, err) {
                            if (ret) {
                                var _userid = ret.data;
                                if (item.userId == _userid) {
                                    fnOpenWin('mine', '../mine/');
                                } else {
                                    fnOpenWin('ta_page', '../ta_page/', {
                                        userId : item.userId,
                                        isFollow : item.isFollow
                                    });
                                }
                            }
                        });
					}
				}
			})
		}

		function fnChangeMonth(type,month,el) {
			if (type == 1) {//活跃排行榜
				if (month == 'current') {
                    myVue.activity.type = true;
				    $api.removeCls($api.dom('.lastActivity'),'active');
				    $api.addCls(el,'active');
					fnRankPersonalCurrentMoth();
					fnRankCommunityCMonth();
				} else {
                    myVue.activity.type = false;
                    $api.removeCls($api.dom('._selfActivity'),'active');
                    $api.addCls(el,'active');
					fnRankPersonalPreMoth();
					fnRankCommunityPreMonth();
				}
			} else if (type == 2) {
				if (month == 'current') {
                    myVue.exalted.type = true;
                    $api.removeCls($api.dom('.last'),'active');
                    $api.addCls(el,'active');
					fnRankPersonalCurrentMoth2();
					fnRankCommunityCMonth2();
				} else {
                    myVue.exalted.type = false;
                    $api.removeCls($api.dom('._self'),'active');
                    $api.addCls(el,'active');
					fnRankPersonalPreMoth2();
					fnRankCommunityPreMonth2();
				}
			}
		}

		//我的排名,个人社区牛人榜排行本月
		function fnRankPersonalCurrentMoth() {
			$service.get('rank/personal.ajax', {
				monthFlag : 1,
				type : 2
			}, function(ret, err) {
				//alert("fnRankPersonalCurrentMoth2:" + JSON.stringify(ret));
				if (ret) {
					if (ret.ok == 1) {
						if (fnIsEmpty(ret.data.userImg)) {
							ret.data.userImg = '../../image/home/tmp_default_header.png';
						}
						myVue.personRankMonth1 = ret.data;
					} else {
                        if(ret.data.content == '需要登录'){
                            return;
                        }
						fnToast(ret.data.content,'middle');
					}
				} else {
					fnToast(err.msg);
				}
			});
		}

		//我的排名,个人社区活跃排行上月
		function fnRankPersonalPreMoth() {
			$service.get('rank/personal.ajax', {
				monthFlag : 0,
				type : 2
			}, function(ret, err) {
				if (ret) {
					if (ret.ok == 1) {
						if (fnIsEmpty(ret.data.userImg)) {
							ret.data.userImg = '../../image/home/tmp_default_header.png';
						}
						ret.data.rankingsType = -2;
						myVue.personRankMonth1 = ret.data;
					} else {
                        if(ret.data.content == '需要登录'){
                            return;
                        }
                        fnToast(ret.data.content,'middle');
                    }
				} else {
					fnToast(err.msg);
				}
			});
		}

		//我的排名,社区活跃排行
		function fnRankPersonalCurrentMoth2() {
			$service.get('rank/personal.ajax', {
				monthFlag : 1,
				type : 4
			}, function(ret, err) {
				//alert("fnRankPersonalCurrentMoth2:" + JSON.stringify(ret));
				if (ret) {
					if (ret.ok == 1) {
						if (fnIsEmpty(ret.data.userImg)) {
							ret.data.userImg = '../../image/home/tmp_default_header.png';
						}
						myVue.personRankMonth2 = ret.data;
					} else {
					    if(ret.data.content == '需要登录'){
					        return;
						}
                        fnToast(ret.data.content,'middle');
                    }
				} else {
					fnToast(err.msg);
				}
			});
		}

		//我的排名,社区活跃排行
		function fnRankPersonalPreMoth2() {
			$service.get('rank/personal.ajax', {
				monthFlag : 0,
				type : 4
			}, function(ret, err) {
				if (ret) {
					if (ret.ok == 1) {
						if (fnIsEmpty(ret.data.userImg)) {
							ret.data.userImg = '../../image/home/tmp_default_header.png';
						}
						ret.data.rankingsType = -2;
						myVue.personRankMonth2 = ret.data;
					} else {
                        if(ret.data.content == '需要登录'){
                            return;
                        }
                        fnToast(ret.data.content,'middle');
                    }
				} else {
					fnToast(err.msg);
				}
			});
		}

		function fnRankCommunityCMonth() {
			$service.get('rank/community.ajax', {
				monthFlag : 1,
				pageIndex : 1,
				pageSize : 3,
				type : 2
			}, function(ret, err) {
				if (ret) {
					if (ret.ok == 1) {
						myVue.list_1 = [];
                       /* var temp = [];
                        for(var i = 0; i < ret.data.length; i++){
                            if(ret.data[i].rank === 2){
                                temp[0] = ret.data[i]
                            }else if(ret.data[i].rank === 1){
                                temp[1] = ret.data[i]
                            }else {
                                temp[2] = ret.data[i]
                            }
                        }*/
						fnAppendData(myVue.list_1, ret.data);
					} else {
						// fnToast('获取社区活跃排行榜单失败');
					}
				} else {
					fnToast(err.msg);
				}
			});
		}

		function fnRankCommunityPreMonth() {
			$service.get('rank/community.ajax', {
				monthFlag : 0,
				pageIndex : 1,
				pageSize : 3,
				type : 2
			}, function(ret, err) {
				//alert("fnRankCommunityPreMonth:" + JSON.stringify(ret));
				//alert("fnRankCommunityPreMonth:"+JSON.stringify(err));
				if (ret) {
					if (ret.ok == 1) {
						myVue.list_1 = [];
                        /*var temp = [];
                        for(var i = 0; i < ret.data.length; i++){
                            if(ret.data[i].rank === 2){
                                temp[0] = ret.data[i]
                            }else if(ret.data[i].rank === 1){
                                temp[1] = ret.data[i]
                            }else {
                                temp[2] = ret.data[i]
                            }
                        }*/
						fnAppendData(myVue.list_1, ret.data);
					} else {
						// fnToast('获取社区活跃排行榜单失败');
					}
				} else {
					fnToast(err.msg);
				}
			});
		}

		function fnAppendData(oldArr, data) {
			for (var i = 0; i < data.length; i++) {
				if (fnIsEmpty(data[i].userImg)) {
					data[i].userImg = '../../image/home/tmp_default_header.png';
				}
				oldArr.push(data[i]);
			}
			return oldArr;
		}

		function fnRankCommunityCMonth2() {
			$service.get('rank/community.ajax', {
				monthFlag : 1,
				pageIndex : 1,
				pageSize : 3,
				type : 4
			}, function(ret, err) {
				//alert("fnRankCommunityCMonth2:" + JSON.stringify(ret));
				//alert("fnRankCommunityCMonth2:"+JSON.stringify(err));
				if (ret) {
					if (ret.ok == 1) {
						myVue.list_2 = [];
                       /* var temp = [];
                        for(var i = 0; i < ret.data.length; i++){
                            if(ret.data[i].rank === 2){
                                temp[0] = ret.data[i]
                            }else if(ret.data[i].rank === 1){
                                temp[1] = ret.data[i]
                            }else {
                                temp[2] = ret.data[i]
                            }
                        }*/
						fnAppendData(myVue.list_2, ret.data);
					} else {
						// fnToast('获取社区活跃排行榜单失败');
					}
				} else {
					fnToast(err.msg);
				}
			});
		}

		function fnRankCommunityPreMonth2() {
			$service.get('rank/community.ajax', {
				monthFlag : 0,
				pageIndex : 1,
				pageSize : 3,
				type : 4
			}, function(ret, err) {
				//alert("fnRankCommunityPreMonth2:" + JSON.stringify(ret));
				//alert("fnRankCommunityPreMonth2:"+JSON.stringify(err));
				if (ret) {
					if (ret.ok == 1) {
						myVue.list_2 = [];
						/*var temp = [];
						for(var i = 0; i < ret.data.length; i++){
						    if(ret.data[i].rank === 2){
						        temp[0] = ret.data[i]
                            }else if(ret.data[i].rank === 1){
                                temp[1] = ret.data[i]
                            }else {
                                temp[2] = ret.data[i]
                            }
                        }*/
						fnAppendData(myVue.list_2, ret.data);
					} else {
						// fnToast('获取社区活跃排行榜单失败');
					}
				} else {
					fnToast(err.msg);
				}
			});
		}
	</script>
</html>
