<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>社区荣誉榜</title>
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" type="text/css" href="../../css/meui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/communityHonorStick.css" />
		<style>
			.communityList .showCircle {
				width: 2px;
				height: 2px;
				border-radius: 2px;
			}
			.communityHonor .subtotal ._selfmonth:after {
				width: 0px;
			}
			[v-cloak] {
				display: none;
			}
      #topicHonor .communityList .item .num{
          min-width: .65rem;
      }
      .only_num{
          width: .3rem;
      }
      #otherNum .num{
          width: .46rem;
      }
      .uploadImg{
          position: relative;
      }
      .play_btn{
          height: 32px;
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-16px,-16px);
          z-index: 9999;
      }
			.communityList .self .Perimage .perimage_rel{
				position: relative;
			}
			img.red_vip,img.yellow_vip,img.purple_vip{
				position: absolute;
				left: initial !important;
				right: 1px;
				top: 42px !important;
				width: 14px !important;
				height: 14px !important;
				transform: none !important;
			}
			img.svip_iconto{
				right: 8px !important;
				top: 44px !important;
				z-index: 4;
			}

		</style>
		<script type="text/javascript" src="../../script/flexible.js"></script>
	</head>
	<body>
		<!-- 活跃排行榜 -->
		<div id="communityHonor" class="communityHonor" v-cloak>
			<div class="subtotal flex-center">
				<img src="../../image/rank/trophy.png" alt=""><span>社区</span><span class="circle"></span>
				<span> <span v-if="month" class="_selfmonth active">本月</span> <span v-else class="lastMonth active">上月</span> </span>
			</div>
			<!-- 话题排行榜 -->
			<div v-if="type==3" id="topicHonor">
				<div class="communityList">
					<div class="other">
						<div v-for="(item,index) in list" class="item community-flex flex-center community-flex-h" @click="openDetails(item.dataTypeNew,item.storyId)">
							<div v-if="item.rank == 1" class="num numOne"></div>
							<div v-if="item.rank == 2" class="num numtwo"></div>
							<div v-if="item.rank == 3" class="num numthree"></div>
							<div v-if="item.rank > 3" class="only_num">
								{{item.rank}}
							</div>
							<div class="uploadImg">
								<img class="topic_img" v-bind:src="item.mainImg" alt="">
                <img v-show="item.dataTypeNew == 3" class="play_btn" src="../../image/edit_topic/play.png" alt="" />
          	  </div>
							<div class="contents community-flex-flex1">
								<div class="otherName community-flex line2">
									<span v-if="item.isChoice != 0" class="fine-label"></span>{{item.storyName}}
								</div>
								<div>
									指数：{{item.rankIndexValue}}
									<span v-show="item.awardNumber && item.awardType == 0" class="Gold float-right">金币+{{item.awardNumber}}</span>
									<span v-show="item.awardNumber && item.awardType == 1" class="Gold float-right">钻石+{{item.awardNumber}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div v-else class="communityList">
				<div class="self community-flex flex-center community-flex-h" :class="(type==2)&&'bgBlue'">
					<div class="num">
						{{personRankMonth.rank}}
					</div>
					<div class="Perimage">
						<div class="Perimage-1 perimage_rel" tapmode v-on:click="fnOpenHome(personRankMonth)">
							<img v-bind:src="personRankMonth.userImg" alt="">
							<img v-show="personRankMonth.talentFlag == 1" class="red_vip" src="../../image/mine/red_vip.png" alt=""/>
							<img v-show="personRankMonth.talentFlag == 2" class="yellow_vip" src="../../image/mine/yellow_vip.png" alt=""/>
							<img v-show="personRankMonth.talentFlag == 3" class="purple_vip" src="../../image/mine/purple_vip.png" alt=""/>
						</div>
					</div>
					<div class="details community-flex-flex1">
						<div class="">
							{{personRankMonth.userName}}
							<span v-show="personRankMonth.awardNumber && personRankMonth.awardType == 0" class="Gold float-right">金币+{{personRankMonth.awardNumber}}</span>
							<span v-show="personRankMonth.awardNumber && personRankMonth.awardType == 1" class="Gold float-right">钻石+{{personRankMonth.awardNumber}}</span>

						</div>
						<div class="level">
							指数：{{personRankMonth.rankIndexValue}}</span> <span v-if="personRankMonth.rankingsType == -2" class="level-alert">友圈人数{{personRankMonth.friendsCount}}人</span>
							<span v-if="personRankMonth.rankingsType == -1" class="level-alert">比上月下降{{personRankMonth.rankings}}名，加油！</span>
							<span v-if="personRankMonth.rankingsType == 0" class="level-alert">名次与上月持平，加油！</span>
							<span v-if="personRankMonth.rankingsType == 1" class="level-alert">比上月上升{{personRankMonth.rankings}}名，棒棒哒！</span>
							<span v-if="personRankMonth.rankingsType == 2" class="level-alert">本月落榜了哦，加油！</span>
							<span v-if="personRankMonth.rankingsType == 3" class="level-alert">恭喜你本月上榜！</span>
							<span v-if="personRankMonth.rankingsType == 4" class="level-alert">遗憾，你仍未入围榜单，加油！</span>
						</div>
						<div v-if="type == 1" class="topic community-flex flex-center">
							<div class="_items">
								<div class="topic_num">
									{{personRankMonth.storyCount}}
								</div>
								<div>
									话题
								</div>
							</div>
							<span class="showCircle"></span>
							<div class="_items">
								<div class="topic_num">
									{{personRankMonth.shareCount}}
								</div>
								<div>
									分享
								</div>
							</div>
							<span class="showCircle"></span>
							<div class="_items">
								<div class="topic_num">
									{{personRankMonth.commentCount}}
								</div>
								<div>
									评论
								</div>
							</div>
						</div>
              <div v-if="type == 2" class="topic community-flex flex-center">
                  <div class="_items">
                      <div class="topic_num">
                          {{personRankMonth.focusCount}}
                      </div>
                      <div>
                          粉丝
                      </div>
                  </div>
                  <span class="showCircle"></span>
                  <div class="_items">
                      <div class="topic_num">
                          {{personRankMonth.commentCount}}
                      </div>
                      <div>
                          获评
                      </div>
                  </div>
                  <span class="showCircle"></span>
                  <div class="_items">
                      <div class="topic_num">
                          {{personRankMonth.praisedCount}}
                      </div>
                      <div>
                          获赞
                      </div>
                  </div>
              </div>
					</div>
				</div>
				<div v-if="list.length" class="other" id="otherNum">
					<div v-for="(item,index) in list" class="item community-flex flex-center community-flex-h">
						<div v-if="item.rank == 1" class="num numOne">
							1
						</div>
						<div v-if="item.rank == 2" class="num numTwo">
							2
						</div>
						<div v-if="item.rank == 3" class="num">
							3
						</div>
						<div v-if="item.rank > 3" class="num numOther">
							{{item.rank}}
						</div>
						<div class="Perimage perimage_rel" tapmode v-on:click="fnOpenHome(item)">
							<div v-if="index == 0" class="large"></div>
							<div v-if="index == 1" class="large numtwo"></div>
							<div v-if="index == 2" class="large numthree"></div>
							<img class="less" v-bind:src="item.userImg" alt="">
							<img v-if="item.talentFlag == 1&&index>2" class="red_vip svip_iconto" src="../../image/mine/red_vip.png" alt=""/>
							<img v-if="item.talentFlag == 2&&index>2" class="yellow_vip svip_iconto" src="../../image/mine/yellow_vip.png" alt=""/>
							<img v-if="item.talentFlag == 3&&index>2" class="purple_vip svip_iconto" src="../../image/mine/purple_vip.png" alt=""/>
						</div>
						<div class="contents community-flex-flex1">
							<div class="otherName">
								{{item.userName}}
								<img v-if="month && item.isFollow == 0 && item.userSelfId != item.userId" class="float-right" src="../../image/rank/follow.png" alt="" tapmode="meui_click" v-on:click="fnFollow(item,index)">
								<img v-if="month && item.isFollow == 1 && item.userSelfId != item.userId" class="float-right" src="../../image/rank/cancel_follow.png" alt="" tapmode="meui_click" v-on:click="fnFollow(item,index)">
								<span v-if="!month && item.awardNumber && item.awardType == 0" class="Gold float-right">金币+{{item.awardNumber}}</span>
								<span v-if="!month && item.awardNumber && item.awardType == 1" class="Gold float-right">钻石+{{item.awardNumber}}</span>
							</div>
							<div>
								指数：{{item.rankIndexValue}}
								<img v-show="!month && item.isFollow == 0 && item.userSelfId != item.userId" class="float-right" src="../../image/rank/follow.png" alt="" tapmode="meui_click" v-on:click="fnFollow(item,index)">
								<img v-show="!month && item.isFollow == 1 && item.userSelfId != item.userId" class="float-right" src="../../image/rank/cancel_follow.png" alt="" tapmode="meui_click" v-on:click="fnFollow(item,index)">
							</div>
						</div>
					</div>
				</div>
				<!--没有排行榜-->
				<div v-if="!list.length" class="nofriends">
					<img src="../../image/empty/no_friends_result.png" alt="">
					<div class="nofriends_alert">
						亲，圈子太小，去找更多好朋友吧
					</div>
					<div class="btn" tapmode @click="fnOpenWin()">
						达人推荐
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/vue.js"></script>
	<script type="text/javascript" src="../../script/mapi.js"></script>
	<script type="text/javascript" src="../../script/service.js"></script>
	<script type="text/javascript">
		var myVue = null;
		var pageIndex = 1;
		var userId;
		apiready = function() {
			//fnRefreshOpen();
			fnInitVue();
			fnShowType();
			fnGetData(false, true);
			myVue.personRankMonth = api.pageParam.myRank;
			fnSetRefresh(function() {
				pageIndex = 1;
				fnGetData(false, true);
			});
			addBottomListener(function() {
				pageIndex++;
				fnGetData(true, false);
			});
            userId = api.readFile({//获取当前用户信息，作为分享使用
                sync : true,
                path : api.boxDir + '/userid.txt'
            });
		}
		function fnGetData(isLoadMore, isRefresh) {
			if (myVue.type == 1) {
				if (myVue.month) {
					fnRankCommunityCMonth(isLoadMore, isRefresh);
				} else {
					fnRankCommunityPreMonth(isLoadMore, isRefresh);
				}
			} else if (myVue.type == 2) {
				if (myVue.month) {
					fnRankCommunityCMonth2(isLoadMore, isRefresh);
				} else {
					fnRankCommunityPreMonth2(isLoadMore, isRefresh);
				}
			} else if (myVue.type == 3) {
				if (myVue.month) {
					fnRankCommunityCMonth3(isLoadMore, isRefresh);
				} else {
					fnRankCommunityPreMonth3(isLoadMore, isRefresh);
				}
			}
		}

		function fnInitVue() {
			myVue = new Vue({
				el : "#communityHonor",
				data : {
				    userId : userId,
					type : 1,
					month : true,
					list : [],
					personRankMonth : {
					}
				},
				methods : {
					fnOpenWin : function() {
						fnOpenWin('recommendation_page_win', './', {
							type : '社区'
						})
					},
					fnFollow : function(item, index) {
						var follow;
						if (item.isFollow == 0) {
							follow = 'Follow';
						} else {
							follow = 'UnFollow';
						}
						$service.get('user/follow.ajax', {
							followId : item.userId,
							type : follow
						}, function(ret, err) {
							if (ret) {
								if (ret.ok == 1) {
									if (item.isFollow == 0) {
										myVue.$set(myVue.$data.list[index], 'isFollow', 1);
									} else {
										myVue.$set(myVue.$data.list[index], 'isFollow', 0);
									}
								}
							} else {
								fnToast(err.msg);
							}
						});
					},
					openDetails : function(_dataTypeNew, _id) {
						fnOpenWin('topic_details', '../topic/', {
							type : _dataTypeNew,
							id : _id
						});
					},
                    fnOpenHome : function(item){
                        api.readFile({
                            path: api.boxDir + '/userid.txt'
                        }, function (ret, err) {
                            if (ret) {
                                var _userid = ret.data;
                                if (item.userId == _userid) {
                                    fnOpenWin('mine', '../mine/');
                                } else {
                                    fnOpenWin('ta_page', '../ta_page/', {
                                        userId : item.userId,
                                        isFollow : item.isFollow
                                    });
                                }
                            }
                        });
                    }
				}
			})
		}

		function fnShowType() {
			if (api.pageParam.title == '牛人榜') {
				myVue.type = 1;
			} else if(api.pageParam.title == '红人榜'){
                myVue.type = 2;
            }else if (api.pageParam.title == '话题榜') {
				myVue.type = 3;
			}
			myVue.month = api.pageParam.month;
		}

		function fnRankCommunityCMonth(isLoadMore, isRefresh) {
			$service.get('rank/community.ajax', {
				monthFlag : 1,
				pageIndex : pageIndex,
				pageSize : 20,
				type : 1
			}, function(ret, err) {
				api.refreshHeaderLoadDone();
				//alert("fnRankCommunityCMonth:" + JSON.stringify(ret));
				//alert("fnRankCommunityCMonth:" + JSON.stringify(err));
				if (ret) {
					if (ret.data && ret.data.length > 0) {
						if (isRefresh) {
							myVue.list = [];
						}
						fnAppendData(myVue.list, ret.data);
					} else {
						if (isLoadMore) {
							fnToast('没有更多');
						} else {
//							fnToast('获取数据失败');
						}
					}
				} else {
					fnToast(err.msg);
				}
			});
		}

		function fnRankCommunityPreMonth(isLoadMore, isRefresh) {
			$service.get('rank/community.ajax', {
				monthFlag : 0,
				pageIndex : pageIndex,
				pageSize : 20,
				type : 1
			}, function(ret, err) {
				api.refreshHeaderLoadDone();
				//alert("fnRankCommunityPreMonth:" + JSON.stringify(ret));
				//alert("fnRankCommunityPreMonth:" + JSON.stringify(err));
				if (ret) {
					if (ret.data && ret.data.length > 0) {
						if (isRefresh) {
							myVue.list = [];
						}
						fnAppendData(myVue.list, ret.data);
					} else {
						if (isLoadMore) {
							fnToast('没有更多');
						} else {
//							fnToast('获取数据失败');
						}
					}
				} else {
					fnToast(err.msg);
				}
			});
		}

		function fnAppendData(oldArr, data) {
			for (var i = 0; i < data.length; i++) {
				if (fnIsEmpty(data[i].userImg)) {
					data[i].userImg = '../../image/home/tmp_default_header.png';
				}
                data[i].userSelfId = userId;
				oldArr.push(data[i]);
			}
			return oldArr;
		}

		function fnRankCommunityCMonth2(isLoadMore, isRefresh) {
			$service.get('rank/community.ajax', {
				monthFlag : 1,
				pageIndex : pageIndex,
				pageSize : 20,
				type : 3
			}, function(ret, err) {
				api.refreshHeaderLoadDone();
				//alert("fnRankCommunityCMonth2:" + JSON.stringify(ret));
				//alert("fnRankCommunityCMonth2:" + JSON.stringify(err));
				if (ret) {
					if (ret.data && ret.data.length > 0) {
						if (isRefresh) {
							myVue.list = [];
						}
						fnAppendData(myVue.list, ret.data);
					} else {
						if (isLoadMore) {
							fnToast('没有更多');
						} else {
//							fnToast('获取数据失败');
						}
					}
				} else {
					fnToast(err.msg);
				}
			});
		}

		function fnRankCommunityPreMonth2(isLoadMore, isRefresh) {
			$service.get('rank/community.ajax', {
				monthFlag : 0,
				pageIndex : pageIndex,
				pageSize : 20,
				type : 3
			}, function(ret, err) {
				api.refreshHeaderLoadDone();
				//alert("fnRankCommunityPreMonth2:" + JSON.stringify(ret));
				//alert("fnRankCommunityPreMonth2:" + JSON.stringify(err));
				if (ret) {
					if (ret.data && ret.data.length > 0) {
						if (isRefresh) {
							myVue.list = [];
						}
						fnAppendData(myVue.list, ret.data);
					} else {
						if (isLoadMore) {
							fnToast('没有更多');
						} else {
//							fnToast('获取数据失败');
						}
					}
				} else {
					fnToast(err.msg);
				}
			});
		}

		function fnRankCommunityCMonth3(isLoadMore, isRefresh) {
			$service.get('rank/community.ajax', {
				monthFlag : 1,
				pageIndex : pageIndex,
				pageSize : 20,
				type : 5
			}, function(ret, err) {
				api.refreshHeaderLoadDone();
				//alert("fnRankCommunityCMonth3:" + JSON.stringify(ret));
				//alert("fnRankCommunityCMonth3:" + JSON.stringify(err));
				if (ret) {
					if (ret.data && ret.data.length > 0) {
						if (isRefresh) {
							myVue.list = [];
						}
						fnAppendData(myVue.list, ret.data);
					} else {
						if (isLoadMore) {
							fnToast('没有更多');
						} else {
//							fnToast('获取数据失败');
						}
					}
				} else {
					fnToast(err.msg);
				}
			});
		}

		function fnRankCommunityPreMonth3(isLoadMore, isRefresh) {
			$service.get('rank/community.ajax', {
				monthFlag : 0,
				pageIndex : pageIndex,
				pageSize : 20,
				type : 5
			}, function(ret, err) {
				api.refreshHeaderLoadDone();
				//alert("fnRankCommunityPreMonth3:" + JSON.stringify(ret));
				//alert("fnRankCommunityPreMonth3:" + JSON.stringify(err));
				if (ret) {
					if (ret.data && ret.data.length > 0) {
						if (isRefresh) {
							myVue.list = [];
						}
						fnAppendData(myVue.list, ret.data);
					} else {
						if (isLoadMore) {
							fnToast('没有更多');
						} else {
//							fnToast('获取数据失败');
						}
					}
				} else {
					fnToast(err.msg);
				}
			});
		}
	</script>
</html>
