<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>我的打赏</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/meui.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/reward_comment.css"/>
		<script type="text/javascript" src="../../script/flexible.js"></script>
		<style>
            html,body,#wrap{
                height: 100%
            }
			.no-data{
				text-align: center;
				height: 100%;
				overflow: hidden;
			}
			.no-data img{
				height:97px;
				width: 124px;
				margin:64px 0 12px 0;
			}
			.no-data p{
				font-size: 14px;
				color: #999;
				margin-bottom:24px;
			}
			.no-data div{
				height: 38px;
				width: 126px;
				margin:0 auto;
				border-radius: 100px;
				border:1px solid #FF6026;
				color: #FF6026;
				font: 16px/38px '';
			}
			.original_text{
				word-wrap:break-word;
				word-break: break-all;
			}
			.commtent_list .wrap {
				position: relative;
				width: 0.933333rem;
				height: 0.933333rem;
			}

			.wrap img.red_vip,.wrap img.yellow_vip,.wrap img.purple_vip{
				position :absolute;
				right: 0;
				bottom : 0;
				width : 12px;
				height : 12px;
			}

		</style>
	</head>
	<body>
		<div class="warp" id="wrap">
            <div class="no-data">
                <img src="../../image/mine/nods@2x.png" alt="">
                <p>快去打赏你支持的话题吧</p>
                <div tapmode onclick="fnOpenMain()">去打赏</div>
            </div>
			<div class="accumulatives">
				<div class="accumulative_list">
					<div class="gglod"><img class="glodimg" src="../../image/mine/glod.png">我的打赏：
					</div>
					<div class="details">
						<div class="detail detail_bor">
							<span class="tipCount"></span>
							<span class="sign">次</span>
						</div>
						<div class="detail">
							<span class="tipAmount"></span>
							<span class="sign">金币</span>
						</div>
					</div>
				</div>
			</div>
			<div class="my_commtent">
				<div v-for="item in list" class="commtent_list">
					<div class="wrap">
						<div class="comm_li_img" @click="fnOpenUser(item)">
							<img v-if="item.userImg" v-bind:src="item.userImg" alt="" onerror="fnImgError(this)">
							<img v-else src="../../image/home/tmp_default_header.png">
						</div>
						<img v-if="item.talentFlag == 1" class="red_vip" src="../../image/mine/red_vip.png">
						<img v-if="item.talentFlag == 2" class="yellow_vip" src="../../image/mine/yellow_vip.png">
						<img v-if="item.talentFlag == 3" class="purple_vip" src="../../image/mine/purple_vip.png">
					</div>
					<div class="comm_li_cont">
						<div class="vip_name">
							<span @click="fnOpenUser(item)">{{item.userName || item.userCode}} </span>
							<span class="at_time">{{item.releaseTime}}</span>
						</div>
						<div class="reply">
							<div class="my_reply meui_5_line">
								我的打赏
							</div>
							<div class="img_reply" v-if="item.amount">
								金币+{{item.amount}}
							</div>
						</div>
						<div class="original" @click="openDetails(item.dataTypeNew,item.storyId)">
							<div class="original_img">
								<img v-if="item.mainImg" v-bind:src="item.mainImg" onerror="fnImgError(this)">
								<img v-else src="../../image/tmp.jpg">
							</div>
							<div class="original_text meui_flex_con_no_w" v-text="item.storyContentText"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/mapi.js"></script>
	<script type="text/javascript" src="../../script/vue.min.js"></script>
	<script type="text/javascript" src="../../script/swiper.js"></script>
	<script type="text/javascript" src="../../script/service.js"></script>
	<script type="text/javascript">
		var pageIndex = 1;
		apiready = function() {
			//fnRefreshOpen();
			fnGetUserTips();
			fnSetRefresh(function() {
				pageIndex = 1;
				fnGetUserTips(false, true);
			});
			addBottomListener(function() {
				pageIndex++;
				fnGetUserTips(true, false);
			});
			fnGetUserCount();
		};
		var vue = new Vue({
			el : '.my_commtent',
			data : {
				list : []
			},
			methods : {
				fnImgCount : function(item) {
					if (item.storyImgs) {
						return item.storyImgs.length;
					}
					return 0;
				},
				openDetails : function(_dataTypeNew, _id) {
					fnOpenWin('topic_details', '../topic/', {
							type : _dataTypeNew,
							id : _id
					});
				},
                fnOpenUser : function(item) {
                    api.readFile({
                        path: api.boxDir + '/userid.txt'
                    }, function (ret, err) {
                        if (ret) {
                            var _userid = ret.data;
                            if (item.userCode == _userid) {
                                fnOpenWin('mine', null);
                            } else {
                                fnOpenWin('ta_page', '../ta_page/', {
                                    userId : item.userCode
                                });
                            }
                        }
                    })
                }
			}
		});
        function fnOpenMain() {
            api.closeToWin({
                name: 'root',
                animation: {
                    type: 'push',
                    subType: 'from_left',
                    duration: 300
                }
            });
        }
		function fnGetUserTips(isLoadMore, isRefresh) {
			$service.get('user/tips.ajax', {
				pageIndex : pageIndex,
				pageSize : 20
			}, function(ret, err) {
				api.refreshHeaderLoadDone();
				if (ret.ok == 1) {
					if (ret.data && ret.data.length > 0) {
                        $api.css($api.dom('.no-data'), 'display:none');
						if (isRefresh) {
							vue.list = [];
						}
						fnAppendData(vue.list, ret.data);
					} else {
						if (isLoadMore) {
							fnToast("没有更多");
						}
					}
				}
			}, isRefresh);
		}

		function fnGetUserCount() {
			$service.get('user/getUserCount.ajax', {
			}, function(ret, err) {
				if (ret.ok == 1) {
					fnSetTxt('.tipAmount', ret.data.tipAmount);
					fnSetTxt('.tipCount', ret.data.tipCount);
				} else {
					fnToast('获取数据失败');
				}
			});
		}
	</script>
</html>
