<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta
      name="App-Config"
      content="fullscreen=yes,useHistoryState=yes,transition=yes"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>最新需求</title>
    <!-- <link rel="stylesheet" href="./css/public.css"> -->
    <style>
      * {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .list {
        background: #fff;
      }
      .list li {
        border-bottom: 1px solid #eee;
        padding: 0.5rem;
      }
      .list h4 {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 3px 0;
        word-wrap: break-word;
        word-break: break-all;
      }
      .list p {
        line-height: 2rem;
        color: #555;
        padding: 0 0 0.5rem 0;
        word-wrap: break-word;
        word-break: break-all;
      }
      .list span {
        clear: both;
        display: block;
        color: #0e4e96;
        font-size: 0.8rem;
        padding-top: 0.2rem;
      }
      .list em {
        color: #0e4e96;
      }
      .list img {
        float: left;
        margin: 0 5px;
        width: 30%;
      }
      .list dd {
        float: left;
        margin: 0px 1%;
        background-position: 0 20%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        width: 28%;
      }
      .goTop {
        width: 3.5rem;
        height: 3.5rem;
        position: fixed;
        right: 1.2rem;
        bottom: 12rem;
      }
      dd {
        height: 6rem;
      }
    </style>
  </head>
  <body>
    <div style="overflow:hidden;">
      <div class="box" id="need" style="background:#fff;">
        <img
          @click="gotoTop()"
          class="goTop"
          src="./images/scroll_top.png"
          alt=""
        />
        <div class="list">
          <ul v-for="(val,index) in msg">
            <li>
              <div href="#" @click="opens(val.id)">
                <h4 v-cloak v-html="val.title"></h4>
                <p
                  style=" overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;"
                  v-html="$options.filters.msg(val.content)"
                ></p>
              </div>
              <dl v-for="(vals,i) in val.imgArray">
                <dd
                  v-bind:style="{backgroundImage:'url(' + vals + '@200_200)'}"
                  @click="fnPreviewPictureContent(val.imgArray,i)"
                  :key="i"
                ></dd>
              </dl>
              <span v-cloak>有{{ val.answersCount }}个回答 </span>
              <!-- <span>{{val.praiseNumber}}赞同</span> -->
            </li>
          </ul>
          <div style="color:#ccc;text-align: center;margin-top:1rem;">
            没有更多了...
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/jquery-1.11.1.min.js"></script>
  <script src="./js/js.js"></script>
  <script type="text/javascript" src="../../script/vue.js"></script>
  <script type="text/javascript" src="../../script/api.js"></script>
  <script type="text/javascript" src="../../script/fastclick.js"></script>
  <script type="text/javascript" src="../../script/common.js?v=0"></script>
  <script>
    apiready = function() {
      $event.isShowHomeTab(false);
      need.getVal();
      isloading();
      $app.fnSetRefresh(function() {
        need.getVal();
        api.refreshHeaderLoadDone();
      });
      String.prototype.replaceHtml = function(s1, s2) {
        return this.replace(new RegExp(s1), s2);
      };
    };
    $(function() {
      document.querySelector(".goTop").style.display = "none";
      $(window).scroll(function() {
        if ($(window).scrollTop() > 4000) {
          document.querySelector(".goTop").style.display = "block";
        } else {
          document.querySelector(".goTop").style.display = "none";
        }
      });
    });
    function isloading() {
      $event.scrollBottomListener(function() {
        need.fnGetStoryIndexByCondition();
      });
    }
    var need = new Vue({
      el: "#need",
      data: {
        message: [],
        msg: [],
        image: [],
        inners: "",
        top: false
      },
      filters: {
        msg: function(msgs) {
          try {
            if (msgs != "" && msgs != undefined && msgs != null)
              var qchtml = /<\/?.+?>/g;
            return msgs.replaceHtml(qchtml, "").replace(/ /g, "");
          } catch (err) {}
        }
      },
      methods: {
        gotoTop: function() {
          $("body").animate(
            {
              scrollTop: "0"
            },
            100
          );
        },
        opens: function(id) {
          api.openWin({
            name: "details",
            url: "./details.html",
            slidBackEnabled: false,
            pageParam: {
              listId: id,
              listNews: "news"
            }
          });
        },
        //获取推荐信息
        getVal: function() {
          var _this = this;
          var token = api.readFile({
            sync: true,
            path: api.boxDir + "/token.txt"
          });
          /*UrlRouter
                syTuijian:'/v5/sgcommunity/issue/getIssueListTops.ajax',//首页推荐
                syTopthree:'/v5/sgcommunity/issue/getIssueListTopThree.ajax',//首页top3
                myList:'/v5/sgcommunity/issue/getIssueList.ajax',//我的需求列表
                myAnswer:'/v5/sgcommunity/issueAnswers/getIssueAnswersList.ajax',//我的回答列表
                create:'/v5/sgcommunity/issue/getIssueListCreateDate.ajax',//解决需求页面
                hdVal:'/v5/sgcommunity/issueAnswers/getQueryIssueAnswers.ajax',//回答详情页面
                hdZan:'/v5/sgcommunity/issueAnswers/praiseIssueAnswers.ajax',//回答详情点赞
                hdNotice:'/v5/sgcommunity/user/follow.ajax',//回答关注
                plTwo:'/v5/sgcommunity/issueAnswers/addIssueAnswers.ajax',//二级评论
            */
          $http.GET(
            HOST + UrlRouter.create,
            {
              header: {},
              values: {
                pageIndex: "0",
                pageSize: "10",
                TokenAuthorization: token
              }
            },
            function(ret, err) {
              for (var i = 0; i < ret.data.list.length; i++) {
                _this.msg.push(ret.data.list[i]);
              }
            }
          );
        },
        //上拉加载
        fnGetStoryIndexByCondition: function() {
          var token = api.readFile({
            sync: true,
            path: api.boxDir + "/token.txt"
          });
          var _this = this;
          $http.GET(
            HOST + UrlRouter.create,
            {
              values: {
                pageIndex: _this.msg.length,
                pageSize: "10",
                TokenAuthorization: token
              }
            },
            function(ret, err) {
              $app.hideProgress();

              var b = ret.data;
              if (b == null) {
                _this.inners == "没有更多了...";
              } else {
                for (var i = 0; i < ret.data.list.length; i++) {
                  _this.msg.push(ret.data.list[i]);
                }
              }
            }
          );
        },
        //是否登录
        loginOrnotL: function() {
          var token = api.readFile({
            sync: true,
            path: api.boxDir + "/token.txt"
          });
          if (token.indexOf("#") != -1) {
            this.backLeft();
          } else {
            // 跳转登录页面
            $event.callRNEvent(1, 1, {
              toPageName: "Login"
            });
          }
        },
        loginOrnotR: function() {
          var token = api.readFile({
            sync: true,
            path: api.boxDir + "/token.txt"
          });
          if (token.indexOf("#") != -1) {
            this.backRight();
          } else {
            // 跳转登录页面
            $event.callRNEvent(1, 1, {
              toPageName: "Login"
            });
          }
        },
        fnPreviewPictureContent: function(vals, index) {
          $event.isShowHomeTab(false);
          var arr = vals;
          $app.openWin(
            "preview_picture",
            {
              urlArr: arr,
              activeIndex: index
            },
            {
              url: "../topic/preview_picture.html"
            }
          );
        },
        repmsg: function(msg) {
          return msg.replace(/<\/?.+?>/g, "").replace(/ /g, "");
        }
      }
    });
  </script>
</html>
