body, html {
	background: #EEE;
	height: 100%;
}
.c_edit_layout {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 15px;
	box-sizing: border-box;
	background: #FFF;
}
.c_title_input {
	width: 100%;
	height: 40px;
	border-bottom: 1px dashed #EEE;
	line-height: 40px;
	font-size: 16px;
	color: #333;
}
.c_content_area {
	width: 100%;
	height: 120px;
	margin-top: 6px;
	line-height: 20px;
	font-size: 14px;
	color: #333;
	outline: none;
	resize: none;
}
.slide-box {
	width: 100%;
	display: -webkit-box;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}
.slide-item {
	position : relative;
	width: 90px;
	height: 90px;
	margin-right: 13px;
	overflow: hidden;
}
.c_add_img {
	width: 90px;
	height: 90px;
	background: url(../image/edit_topic/add_img.png) no-repeat center;
	background-size: 90px;
}
.c_upload_img_layout {
	position: relative;
	width: 90px;
	height: 90px;
}
.c_upload_img {
	width: 90px;
	height: 90px;
	border-radius: 3px;
}
.video_item_play_btn{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 25px;
	left: 25px;
}
.c_cover {
	position: absolute;
	width: 90px;
	height: 22px;
	top: 39px;
	left: 0;
	background: rgba(0,0,0,0.39);
	line-height: 22px;
	font-size: 12px;
	text-align: center;
	color: #FFF;
}
.c_upload_progress_layout{
	position: absolute;
	top: 0px;
	left: 0;
	width: 90px;
	height: 90px;
	background: rgba(0,0,0,0.6);
	border-radius: 3px;
}
.c_upload_progress{
	width: 90px;
	margin-top: 27px;
	color : #FFF;
	text-align: center;
}
.c_upload_label{
	height: 18px;
	line-height: 18px;
	font-size: 14px;
}
.c_delete {
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background: url(../image/edit_topic/delete_img.png) no-repeat center;
	background-size: 20px;
}
.hidden {
	display: none;
}
.c_share_layout {
	margin-top: 14px;
	margin-left: 16px;
}
.c_share_label {
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #999;
}
.c_share_item {
	width: 20px;
	height: 20px;
	margin-right: 7px;
}
.space{
	height: 78px;
}
.c_footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 78px;
}
.c_footer_top {
	height: 35px;
	background: #FFF;
}
.c_footer_bottom {
	height: 44px;
	background: #F6F6F6;
}
.c_circle {
	height: 22px;
	margin-left: 15px;
	margin-top: 7px;
	padding: 4px 14px;
	background: #F6F6F6;
	border-radius: 22px;
	box-sizing: border-box;
}
.c_circle_icon {
	width: 14px;
	height: 14px;
}
.c_circle_txt {
	height: 14px;
	max-width: 110px;
	margin-left: 4px;
	line-height: 14px;
	font-size: 12px;
	color : #999;
}

.c_label {
	height: 22px;
	margin-left: 15px;
	margin-top: 7px;
	padding: 4px 14px;
	background: #F6F6F6;
	border-radius: 22px;
	box-sizing: border-box;
	visibility: hidden;
}
.c_label_icon {
	width: 14px;
	height: 14px;
}
.c_label_txt {
	height: 14px;
	max-width: 110px;
	margin-left: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #333;
}
.c_add_imgs {
	float: left;
	width: 44px;
	height: 44px;
	background: url(../image/edit_topic/add_picture.png) no-repeat center;
	background-size: 18px;
}
.c_add_link {
	float: left;
	width: 44px;
	height: 44px;
	background: url(../image/edit_topic/add_link.png) no-repeat center;
	background-size: 18px;
}
.c_add_goods {
	float: left;
	width: 44px;
	height: 44px;
	background: url(../image/edit_topic/add_goods.png) no-repeat center;
	background-size: 18px;
}
.c_hide_keyboard{
	float: right;
	width: 44px;
	height: 44px;
	background: url(../image/edit_topic/hide_keyboard.png) no-repeat center;
	background-size: 24px;
	display: none;
}
.c_delete_goods {
	position: absolute;
	right: 0;
	top: 10px;
	width: 20px;
	height: 20px;
	background: url(../image/edit_topic/delete_img.png) no-repeat center;
	background-size: 20px;
}