html,body,
#warp,.popup_position{
  height: 100%;
}
/*选择精华位置-弹窗  头部*/
.popup_position{
  position: relative;
  background: rgba(0, 0, 0, 0.7);
}
.popup_content{
  width: 322px;
  position:absolute;
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.cont_tit{
  padding-top: 35px;
  line-height: 22px;
  font-size: 16px;
  color: #333;
  text-align: center;
}
.hold{
  padding-left: 28px;
  padding-top: 16px;
  padding-bottom: 19px;
}
.sp_tit{
  font-size: 14px;
  color: #999;
}
.center_tit{
  padding-left: 0;
  text-align: center;
}
.hold .xz_img{
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.btns{
  width: 100%;
  display: flex;
}
.btn{
  display: inline-block;
  width: 50%;
  height: 48px;
  line-height: 48px;
  font-size: 17px;
  text-align: center;
  flex: 1;
}
.btn_left{
  color: #999;
  border-radius: 0 0 0 8px;
  border-top: 1px solid #E4E4E4;
}
.btn_right{
  color: #FFF;
  border-top: 1px solid #FF6026;
  background-color: #FF6026;
  border-radius: 0 0 8px 0;
}
